*{box-sizing: border-box;}
body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #030303;
}

header {
  padding: .5rem;
  background-color: #6f8f86;
  border-bottom: 1px solid #6f8f86;
  display: grid;
  gap: .5rem;
  grid-template-columns: 50px auto 48px;
}

header h1 {
  margin: 0;
  color: #0a0a0a;
  font-size: 1.5rem;
}

header p {
  margin: 0;
  color: #080808;
  font-size: .87rem;
}


/*Navigation*/
#menu-button {
  background: none;
  border: none;
  color: #0a0a0a;
  font-size: 1.5rem;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
  z-index: 99;
}

nav ul.open {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  background-color: #6f8f86;
  margin: 0;
}

nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: .75rem;
}
nav ul li.active a {
  font-weight: 600;
}
nav ul li:hover a {
  background-color: #04261a;
  color: white;
}
/*Default Styling*/
main h1 {
  color:#04261a;
  margin: 2vw;
}
main h2 {
  color:#0a0a0a;
  margin: .5rem 2vw;
}
main h3 {
  color:#333;
  margin: .5rem 2vw;
}
main p {
  color:#333;
  margin: .5rem 2vw;
}


/*Hero*/
div.hero {
  width: 100%;
  height: auto;
  position: relative;
}
div.hero img {width: 100%; height: auto;}
div.hero a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .5rem 1rem;
  background-color: #f9dabb;
  color: #04261a;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 0 10px #04261a;
}
div.hero a:hover {font-size: 150%;}

/*Weather*/
.current {
  font-size: 1.2rem;
  color: #070707
}
#forecast {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

#forecast div {
  border: 1px solid #6f8f86;
  background-color: #f9dabb;
  padding: 1rem
}

#forecast p.temp {font-size: 2rem;}
#forecast p.desc {color: #080808}


/* Cards*/
div.cards{
  display: grid; 
  grid-template-columns: 1fr;
  padding: 1rem 2vw;
}
div.cards section {
  border: 1px dashed #6f8f86;
  width: 100%;
  padding: 1rem 0;
}
div.cards section h2 {margin-top: 0;}

/*spotlight cards*/
div.cards .spot {
  text-align: center;
  padding: 0;
}
.spot img {width: 100%; display: block;}
.spot span {
  background-color: #f9dabb;
  display: block;
  padding: .5rem 8px;
  font-weight: 600;
}
.spot a {
  display: block;
  padding: .75rem 1rem;
  color: #04261a;
  background-color: #eee;
}

/*Banner*/
div#banner {
  background-color: #f9dabb;
  padding: 1rem 2vw;
  text-align: center;
  font-weight: 600;
}
div#banner.hide {
  display: none;
}

/*Discover goes here*/
section.gallery figure {
  margin: 2rem 2vw;
}
section.gallery figcaption {
  text-align: center;
  color: #666;
  font-weight: 600;;
}
section.gallery img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
section.gallery .rocorn {

/* rounded corners - boxmodel */
 border-radius: 15px 150px;
}



/*Form Styling*/
form {margin: 1rem 2vw;}
form label, form textarea{
  display: block;
  margin-bottom: 1rem;
}
form textarea{width: 300px;}
form fieldset label{margin: .5rem 0;}
form fieldset {margin-bottom: 1rem; width: 300px;}
form input[type='text'], form input[type='tel'], form input[type='email'] {
  display: block;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #555;
}
form fieldset legend 
{width: auto;
  margin: 0 .1rem;
  padding: 0 .5rem 2%;

}
form input:valid {border-left: solid green 3px;}
form input:invalid {border-left: solid red 3px;}
form input[type='submit'] {
  width: 300px;
  border: solid #333 1px;
  padding: 1rem 0;
  border-radius: 10px;
  font-weight: 600;
  background-color: #f9dabb;
  
}

/*Members*/
div#theButtons {width: 100%; text-align: center;}
div#theButtons button.active {background-color: #6f8f86;}
div#theButtons button {
  margin: 0 1rem; 
  padding: .7rem 1rem;
  border-radius: 10px;
  border: 1px solid #6f8f86;
}
div#members {
  margin: 0 2vw;
}
/*GRID layout*/
div.grid {
  display: flex;
  flex-wrap: wrap;
  gap:8px;
  justify-content: center;
  
}

div.grid section {
  text-align: center;
  margin: 1rem 0;
  border: solid 1px #6f8f86;
  border-radius: 10px;
  overflow: hidden;
}
div.grid img:first-child {width: 100%;}
div.grid h3 {margin: .2rem 0;}
div.grid p {margin: .2rem 0;}

/*LIST layout*/
div.list section {
  display: grid;
  grid-template-columns: auto auto auto auto 55px;
  align-items: center;
  margin: .5rem 0;
  border: solid 1px #6f8f86;
  border-radius: 10px;
  overflow: hidden;
}
div.list img:first-child {display: none;}

/*Footer*/
footer {
  background-color: #6f8f86;
}
footer section {padding: 1rem 2vw;}
footer p {margin: .1rem 0;}
footer a {color:#04261a;}
footer section:nth-child(1) {
  display: grid;
  grid-template-columns: 60px auto;
}