@media (min-width: 32.5em) {
    body {
      margin: 20px auto;
    }

    header {
      align-items: center;
      gap: 15px;
      flex-direction: row;
    }

    h1 {
      font-size: 2.3rem;
    }

    h2 {
      font-size: 1.8rem;
    }

    .nav-ul {
      display: flex;
    }

    .nav-ul li {
      flex: 1 1 100%;
    }

    main {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 25px;
      max-width: 900px;
    }

    main div {
      grid-column: 1 / span 2;
    }

    .footer-text {
      display: inline-block;
    }
}